
<div class="container">

<form id="login" method="post" action="/login">
  username<input type="text" name="username"><br>
  password<input type="password" name="password"><br>
  <input type="submit" value="login">
</form>
<br>
<p>don't have a login yet?</p>
<form name="signup" action="/" method="post">
  username<input type="text" name="username"><br>
  password<input type="password" name="password"><br>
  <input type="submit" value="signup">
</form>

</div>
