<div class="container">

  <h1>list of maps</h1>
  
</div>

<div id="map-stuff">
  <h1>vanessa's trip to sf : 10.7.13 ~ 12.6.13</h1>
 <input type="text" id="place_info" value="where should i go?">

</div>
  <div id="map-canvas"/>
