<div class="container">

  <button id = "create-map">New Trip</button>

  <div id = "container-create-map"></div>

  <h1>list of maps</h1>

  <% @tripmaps.each do |tripmap|%>

  <a href = "/tripmaps/<%=tripmap.id%>"><%=tripmap.title%></a><br />

  <%end%>
  
</div>

<div id="map-stuff">