<div class="container">

  <input type="text" id="place_info" placeholder="what you lookin fo?">
  <h1>list of maps</h1>
  <% @tripmaps.each do |tripmap|%>
    <a href = "/tripmaps/<%=tripmap.id%>"><%=tripmap.title%></a>
  <%end%>

  <button id = "create-map">New Trip</button>
  <div id = "container-create-map"></div>
</div>



