<div class="container">

  <h1>list of maps</h1>
  
</div>
<table id="map-stuff">
  <td>
    <tr>
      <h1>vanessa's trip to sf : 10.7.13 ~ 12.6.13</h1>
    </tr>
    <tr>
      <input type="text" id="pac-input" value="where should i go?">
   </tr>
 </td>

 <div id="map-canvas"/>
</table>