<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
<!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

<!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' rel='stylesheet' type='text/css'>

<!-- GOOGLE MAPS API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<!-- JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type = "text/javascript" src="/js/map.js"></script>
  <script type = "text/javascript" src="/js/views.js"></script> <!-- For dynamically inserting elements onto page-->

  <title></title>
</head>
<body>
  <h2><a href="/">|||||||||||||| MARCO</a></h2>

  <%= yield %>
  

  <a class = "logout" href='/logout'>Logout</a>
</body>
</html>
