
<div class="container">

<form id="login" method="post" action="/login">
  username<input type="text" name="username"><br>
  password<input type="password" name="password"><br>
  <input type="submit" value="login">
</form>
<br>
<p>don't have a login yet?<a id = "signup-button" href = "/signup">Signup!</p>


</div>

<!-- <div id="map-stuff"> -->

<img src= "/ship.png" id="ship" alt="its a boat">
<!-- </div> -->
