<div class="container">

  <h1>list of <%=@tripmap.username%>'s trips</h1>
  <p><% @tripmaps.each do |tripmap|%></p>
    <a href = "/tripmaps/<%=tripmap.id%>"><%=tripmap.title%></a>
  <%end%>

</div>

<div id="map-canvas" data-map-id="<%=@tripmap.id%>"></div>

<div id="map-stuff">

  <input type="text" id="pac-input" placeholder="where should i go?">

</div>

