<div class="container">


  <input type="text" id="place_info" placeholder="what you lookin fo?">

<<<<<<< HEAD
  <!-- <div id="map-canvas"/> -->

</div>

<div id="map-canvas"/>
=======
  <div id="map-canvas"/>

</div>
>>>>>>> 1a71b1fd612c2fd0871e34cdcc42ee7c03a8fb5b
