  <input type="text" id="place_info" placeholder="what you lookin fo?">

</div>

<div id="map-canvas"/>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    
<div id="map-canvas"></div>

