<div class ="container">
  <form name="signup" action="/" method="post">
    username<input type="text" name="username"><br>
    password<input type="password" name="password"><br>
    <input type="submit" value="signup">
  </form>
</div>

<img src= "/ship.png" id="ship" alt="its a boat">
